apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
      - name: shared-files
        emptyDir: {}
      - name: config-volume
        configMap:
          name: log-output-config
      containers:
      - name: writer
        image: duonghoang711/log-output-writer:1.10
        volumeMounts:
        - name: shared-files
          mountPath: /usr/src/app/files
      - name: reader
        image: duonghoang711/log-output-reader:2.5
        volumeMounts:
        - name: shared-files
          mountPath: /usr/src/app/files
        - name: config-volume
          mountPath: /usr/src/app/config
        env:
        - name: PORT
          value: "3000"
        - name: PING_PONG_URL
          value: "http://ping-pong-service/pingpongs"
        - name: MESSAGE
          valueFrom:
            configMapKeyRef:
              name: log-output-config
              key: MESSAGE
        ports:
        - containerPort: 3000
