apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
spec:
  template:
    spec:
      containers:
      - name: todo-app
        env:
        - name: TODO_BACKEND_URL
          value: "http://todo-backend-service.staging/todos"
