apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
      - name: shared-storage
        persistentVolumeClaim:
          claimName: shared-pvc
      containers:
      - name: ping-pong
        image: duonghoang711/ping-pong:1.11
        volumeMounts:
        - name: shared-storage
          mountPath: /usr/src/app/data
        env:
        - name: PORT
          value: "3000"
        ports:
        - containerPort: 3000
