apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend

spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
        app.kubernetes.io/part-of: the-project
        environment: gke
        managed-by: kustomize
    spec:
      containers:
      - name: todo-backend
        image: duonghoang711/todo-backend:2.8
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        env:
        - name: PORT
          value: "3000"
        - name: NATS_URL
          value: "nats://nats.nats:4222"
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: todo-postgres-secret
              key: DB_HOST
        - name: DB_PORT
          valueFrom:
            secretKeyRef:
              name: todo-postgres-secret
              key: DB_PORT
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: todo-postgres-secret
              key: DB_NAME
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: todo-postgres-secret
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: todo-postgres-secret
              key: DB_PASSWORD
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        resources:
          requests:
            cpu: 50m
            memory: 100Mi
          limits:
            cpu: 200m
            memory: 256Mi
