apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app

spec:
  replicas: 2
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
        app.kubernetes.io/part-of: the-project
        environment: gke
        managed-by: kustomize
    spec:
      volumes:
      - name: image-storage
        persistentVolumeClaim:
          claimName: image-pvc
      containers:
      - name: todo-app
        image: duonghoang711/todo-app:v2
        imagePullPolicy: Always
        volumeMounts:
        - name: image-storage
          mountPath: /usr/src/app/images
        env:
        - name: PORT
          value: "3000"
        - name: TODO_BACKEND_URL
          value: "http://todo-backend-service/todos"
        - name: IMAGE_URL
          value: "https://picsum.photos/1200"
        - name: IMAGE_CACHE_TTL_MINUTES
          value: "10"
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: 50m
            memory: 100Mi
          limits:
            cpu: 200m
            memory: 256Mi
