apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
      - name: image-storage
        persistentVolumeClaim:
          claimName: image-pvc
      containers:
      - name: todo-app
        image: duonghoang711/todo-app:1.12
        volumeMounts:
        - name: image-storage
          mountPath: /usr/src/app/images
        env:
        - name: PORT
          value: "3000"
        ports:
        - containerPort: 3000
