apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: image-pvc
  namespace: project
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 100Mi
