name: Cleanup Environment

on:
  delete:
    branches:
      - '**'

env:
  PROJECT_ID: k8s-submissions
  GKE_CLUSTER: k8s-submissions-gke
  GKE_ZONE: europe-west1

jobs:
  cleanup:
    runs-on: ubuntu-latest
    # Don't cleanup main branch environment
    if: github.event.ref != 'main'
    
    steps:
    - name: Set namespace from branch name
      run: |
        NAMESPACE="${{ github.event.ref }}"
        echo "NAMESPACE=$NAMESPACE" >> $GITHUB_ENV

    - name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
      with:
        project_id: ${{ env.PROJECT_ID }}

    - name: Install gke-gcloud-auth-plugin
      run: |
        gcloud components install gke-gcloud-auth-plugin

    - name: Get GKE credentials
      run: |
        gcloud container clusters get-credentials ${{ env.GKE_CLUSTER }} \
          --region ${{ env.GKE_ZONE }} \
          --project ${{ env.PROJECT_ID }}

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3

    - name: Delete namespace
      run: |
        echo "Deleting environment for branch: ${{ env.NAMESPACE }}"
        kubectl delete namespace ${{ env.NAMESPACE }} --ignore-not-found=true
        echo "Cleanup completed!"
